/*** CAROUSEL ***/

.imgnormalizada img {
	width: auto;
	height: 400px;
	max-height: 400px;
	}

/*** POST_LIST ***/

div#post_list {
	margin-left: 100px;
	margin-right: 100px;
}

/*** SIDEBAR ***/
	
	#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
		border-radius: 0 5px 5px 0;
		margin-top: 500px;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}